.plus-jakarta-sans-uniquifier {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

/* Roboto Mono */
.roboto-mono-uniquifier {
  font-family: "Roboto Mono", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Change this to your desired weight */
}

.gwzQJf {
  border-radius: 8px !important;
  border: 1px solid rgb(0, 154, 8) !important;
  box-shadow: none !important;
  font-weight: 500 !important;
  color: rgb(0, 154, 8) !important;
}

.kqXqPY {
  border-radius: 0px !important;
  border: 0px solid #02006a !important;
  box-shadow: none !important;
  font-weight: 700 !important;
  color: #02006a !important;
  min-width: fit-content !important;
}

.gLesnG {
  background: white !important;
  border-radius: 0px !important;
  border: 1px solid black !important;
  width: 45vw !important;
  height: 75vh !important;
  overflow-y: auto !important;
  overflow-x: auto !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
